body {
    background-color: #82ccdd;
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}
.topbar { 
    background: #3c6382;
    width: 100%;
    height: 7%;
}
.topbar li { 
    display: inline-block;
    color: #dff9fb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-variant: small-caps;
    float: right;
    margin-left: 5%;
    margin-top: 1.5%;
}
.topbar ul {
    margin-right: 10%;
}
.content {
    color: #60a3bc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #95afc0;
    width:100%;
    height:90%;
    vertical-align:middle;
}
.floatleft1 { 
    float:left;  
    background:#dff9fb; 
    width:25%; 
    height:80%; 
    min-height: 20%;
    margin-top:5%;
    margin-bottom: 5%;
    background-image:url("HQMountain.jpg");
    background-size: 1500px 852px;
} 
.floatleft1:hover {
    transition: 1s;
    font-size: 30px;
}
.floatleft2{ 
    float:left;  
    background: #3c6382; 
    width:50%; 
    height: 80%;
    min-height: 20%;
    margin-top:5%;
    margin-bottom:5%;
} 
.floatright { 
    float:right; 
    background: #0a3d62; 
    width:25%; 
    margin-top:5%;
    margin-bottom:5%;
    height: 80%;
    min-height: 20%;
} 
.menu {
    background: #535c68;
    vertical-align: middle;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
    color: white;
}
