.header { 
    position: fixed;
    top: 0px;
}
.content {
    background-color: beige;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gallery {
    border-block-color: brown;
    border-block-start-width: 6px;
}
.footer {
    background-color: black;
    color: white;
}
.header:ul { 
    display: inline-block;
    color: black;
}
