header {
background-color: #8ce9d5;
background-image: linear-gradient(to right,#5de0d5 0%,#092c41 100%);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
font-variant: small-caps;
display: inline-block;
   height: 120px;
}
h1 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
}
p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
li {
    list-style-type: none;
    position: center;
    margin-top: 0px;
    margin-right: 14px;
    margin-bottom: 0px;
    margin-left: 14px;
    display: inline-block;
  }
body {
    background: #8ce9d5;
}
img.hover-shadow {
    transition: 1s;
    border-radius: 25px;
    position: relative;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(71, 38, 192, 0.726);
}
.ombre {
    text-align: center;
}
.btn {
    border: none;
    margin: 10px;
    padding: 30px;
    width: 200px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    background-size: 200%;
    transition: 1s;
    background-image: linear-gradient(to left,#9AECDB,#FD7272,#9AECDB);
   font-size: 20px;
   text-align: center;
}
.btn:hover {
    background-position: right;
}

